.Title{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-weight: bold;
}
.Contact{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
}
.Skills{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}


.nav-link {
    color: gray;
}

.nav-link:hover {
    color: gray;
}

.nav-link.active {
    color: black;
}
